{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="image-container">
        <div class="image-bg">
            <div class="diary-container">
                <p style="text-align: right;">{{ date }}</p>
                <h1>About</h1>
                <p>
                    <br>Welcome to My Digital Diary! An interactive piece in the form of a website, simulating a “talking” diary.
                    Feel free to share your thoughts and feelings, have a conversation or simply write whatever comes to mind.<br><br>
                    This was made using Open AI’s API, analyzing user entries and deciding how to best answer for thoughtful and meaningful conversation.
                </p>
               </div>
        </div>
    </div>
{% endblock %}

