{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="image-container">
        <div class="image-bg">
            <div class="container d-flex justify-content-center align-items-center vh-100">
                <div class="title-container px-5 py-4 text-center">
                    <h1 class="mb-4">My Digital Diary</h1>
                    <a class="btn btn-outline-dark" href="/write" role="button">Start Writing!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
